* {
}

#directory {
}

.title {
  text-transform: uppercase;
  text-align: center;
  margin: 20px;
  padding: 20px;
}

.profileWrap {
  display: block;
  width: 20%;
  text-align: center;
  margin: 20px;
}

.profile {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.profilePic {
  width: 90%;
  max-width: 200px;
}
.profileName {
  text-transform: uppercase;
  text-decoration: underline green;
  }

.profileEmail {
  color: grey;
  }

.profileAddress {
  text-transform: capitalize;
  }

.profilePhone {
  }

.ssn {
  color: transparent;
  text-shadow: 0 0 5px rgba(0,0,0,0.5);
}

.ssn:hover {
  color: black;
}

h2 {
}

img {
}

br {
}

p {
}

address {
}

span {
}
